# Vorlage fuer environments/default.secrets.yaml
# Workflow (analog zu den ocelot-Releases):
#   cp environments/default.secrets.yaml.example environments/default.secrets.yaml
#   $EDITOR environments/default.secrets.yaml
#   sops -e -i environments/default.secrets.yaml      # in-place verschluesseln
#
# Die verschluesselte Datei wird committed; der unverschluesselte Klartext nicht
# (siehe secrets/.gitignore -- gilt auch fuer environments/*.secrets.yaml).
#
# Zugriff im IngressRoute-Template via {{ "{{" }} .StateValues.secrets.acme_email {{ "}}" }}.

secrets:
  acme_email: webmaster@it4c.org
