# Unverschluesselte Secret-Dateien nicht committen.
# sops-encrypted Versionen (durchwegs mit `sops_*` strings im Header) werden
# committed -- die sind safe.
*.yaml
*.yaml.gotmpl
!*.example
!.gitignore
